body{
    height: 800px ;
    background-color: black;
    color:darkturquoise;
}
img{
    height: 50%;
}

h1{
    text-align: center;
    background-color: blueviolet;
}

header{
    background-color: aqua;
}